body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.font-list-item {
  font-size: 1rem;
  background-color: black;
  color: "black";
}
.active-font {
  background-color: blue;
}
.dropdown-icon {
  color: white;
}

.dropdown-button {
  background: #3700b3;
}
